pkgbase = stcli
	pkgdesc = A beautiful CLI for Syncthing
	pkgver = 1.1.2
	pkgrel = 1
	url = https://github.com/anshumansingh0010/syncthing-cli
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-click
	depends = python-requests
	depends = python-rich
	depends = python-urllib3
	source = stcli-1.1.2.tar.gz::https://github.com/anshumansingh0010/syncthing-cli/archive/refs/tags/v1.1.2.tar.gz
	sha256sums = 9965b6d334ebbc01a1f7a0cc5e1ed2d87099664f033472ba4ff8a3e69e43f27e

pkgname = stcli
