pkgbase = stcli
	pkgdesc = A beautiful CLI for Syncthing
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/anshumansingh0010/syncthing-cli
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-click
	depends = python-requests
	depends = python-rich
	depends = python-urllib3
	source = stcli-1.1.1.tar.gz::https://github.com/anshumansingh0010/syncthing-cli/archive/refs/tags/v1.1.1.tar.gz
	sha256sums = db8e5f7fa93097ac5b2612db508fa77c1c230b7bc807a9ee39a8f538cdaa0e6f

pkgname = stcli
